.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

body {
		font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    background: url('../images/solid.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', Georgia, serif;
}

.logo, h1, h2, h3 {
	color: #096E66;
}

.logo {
  font-family: 'Abril Fatface', Georgia, serif;
  font-size: 2em;
  text-shadow: 2px 2px 2px #aaa;
}

.nav-link {
	font-family: 'Abril Fatface', Georgia, serif;
	font-size: 1.2em;
}

.error {
	color: red;
}

.form-horizontal input.ng-invalid.ng-touched {
  background-color: #FCB1B5;
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid 3FABA3;
}

.panel-heading {
	font-size: 1em;
}

li {
	font-size: 1em;
}

.intro {
	padding-bottom: 10px;
	text-align: center;
}

table {
	color: black;
}

.row {
	padding-bottom: 10px;
}

.data-form, .reverse, .flip-word, .wayback-frame {
	background-color: #F6F7F7;
	-webkit-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	-moz-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.data-input {
	font-size: 1.2em;
}

.text-col {
	padding-top: 3px;
}

.flip-word {
	padding-left: 10px;
	margin-bottom: 20px;
	height: 112px;
}

.flip {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
}

.header {
	background-color: #AFE4DC;
	border: 2px ridge #172e26;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.reverse, .header {
	padding: 5px 0 5px 10px;
	-webkit-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	-moz-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
}

.btn-custom {
  border-top: 1px solid #096E66;
  background: #67BCB5;
  padding: 5px 10px;
  border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	-webkit-border-radius: 11px 11px 11px 11px;
	border: 2px solid #172e26;
	-webkit-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	-moz-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
  color: black;
  font-size: 12px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}

.btn-custom:hover {
 	border-top-color: #67BCB5;
  background: #3fABA3;
  color: black;
}

.new-section {
	padding-top: 20px;
}

.panel-title, .panel-body {
	font-size: 1.2em;
}

.births-animate.ng-enter {
  -webkit-animation:leftSlideIn 1s both ease-in;
	-moz-animation:leftSlideIn 1s both ease-in;
	animation:leftSlideIn 1s both ease-in;
}
@-webkit-keyframes leftSlideIn {
	from 	{ -webkit-transform:translateX(-100%); }
	to 		{ -webkit-transform: translateX(0%); }
}
@-moz-keyframes leftSlideIn {
	from 	{ -moz-transform:translateX(-100%); }
	to 		{ -moz-transform: translateX(0%); }
}
@keyframes leftSlideIn {
	from 	{ transform:translateX(-100%); }
	to 		{ transform: translateX(0%); }
}

.events-animate.ng-enter {
  -webkit-animation:rightSlideIn 1s both ease-in;
	-moz-animation:rightSlideIn 1s both ease-in;
	animation:rightSlideIn 1s both ease-in;
}
@-webkit-keyframes rightSlideIn {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0%); }
}
@-moz-keyframes rightSlideIn {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0%); }
}
@keyframes rightSlideIn {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0%); }
}

.wayback-frame {
	margin-bottom: 10px;
	padding: 5px;
}

.itunes-data {
	padding-right: 5px;
}

.itunes-img {
	height: 85px;
}