.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.intro {
	padding-bottom: 10px;
	text-align: center;
	color: #18493B;
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

.row {
	padding-bottom: 10px;
}

.logo {
	font-size: 1.5em;
	color: #2A7E7D;
}

.data-form {
	background-color: #C6ECD6;
	padding: 20px 0 2px 10px;
	border-radius: 36px 36px 36px 36px;
	-moz-border-radius: 36px 36px 36px 36px;
	-webkit-border-radius: 36px 36px 36px 36px;
	border: 4px ridge #172e26;
	-webkit-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	-moz-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
}

.data-input {
	font-size: 1.2em;
}

.text-col {
	padding-top: 3px;
}

.button-custom {
	border-top: 1px solid #0b453c;
	background: #3ea39e;
	padding: 6px 10px;
	-webkit-border-radius: 31px;
	-moz-border-radius: 31px;
	border-radius: 31px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 15px;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}

.button-custom:hover {
  border-top-color: #3dccc0;
  background: #3dccc0;
  color: #ffffff;
}

.button-custom:active {
  border-top-color: #4accc8;
  background: #4accc8;
}

.reverse {
	background-color: #88D7CA;
	padding: 5px 0 5px 10px;
	border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	-webkit-border-radius: 11px 11px 11px 11px;
}

.giffy-button {
	margin-left: 20px;
	border-top: 1px solid #f24805;
	background: #f06413;
	padding: 10px 20px 8px;
	-webkit-border-radius: 31px;
	-moz-border-radius: 31px;
	border-radius: 31px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}

.giffy-button:hover {
  border-top-color: #f57b29;
  background: #f57b29;
  color: #ffffff;
}

.gif-error {
	background-color: #f57b29;
	padding: 5px 0 5px 10px;
	border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	-webkit-border-radius: 11px 11px 11px 11px;
}
