<div ng-controller="YouishController">

	<div class="col-md-12">

		<div class="row">
			<!-- Entry form for initial search info -->
			<div class="col-md-6 data-form">

				<div class="row">
					<h2 class="intro">Enter Some Data About Yourself</h2>
					<h2 class="intro">And See Some Fun Results!</h2>
				</div>

				<div class="row">
					<form class="form-horizontal">

					  <div class="form-group">
					  	<label class="col-md-6 control-label data-input" for="name">First Name: </label>
					    <div class="col-md-4 text-col">
					    	<input class="form-control input-md data-input" type="text" ng-model="firstName" name="name" placeholder="First Name">
					    		</div>
					  	</div>

							<div class="form-group">
					    	<label class="col-md-6 control-label data-input" for="month">Birth Month in Two-Digit Format: </label>
					    	<div class="col-md-4 text-col">
					    		<input class="form-control input-md data-input" type="text" ng-model="month" name="month" placeholder="MM">
					    	</div>
					  	</div>

							<div class="form-group">
					    	<label class="col-md-6 control-label data-input" for="day">Birth Day in Two-Digit Format: </label>
					    	<div class="col-md-4 text-col">
					    		<input class="form-control input-md data-input" type="text" ng-model="day" name="day" placeholder="DD">
					    	</div>
					  	</div>

							<div class="form-group">
						 		<label class="col-md-6 control-label data-input" for="first-search">Click Button for Results: </label>
				  	 		<div class="col-md-4 text-col">
					     		<button class="btn button-custom" name="first-search" type="submit" ng-click="searchAll()">Click Me</button>
					  		</div>
					  	</div>

						</form>
					</div>

			</div><!-- Closing div for initial search info -->

			<div class="col-md-1">
			</div>

			<div class="col-md-4">
				<div class="row">
			  	<h3 class="reverse">Your Name, Reversed: <span>{{firstName | reverse}}</span></h3>
			  </div>
			  <div class="row text-center" ng-show="showGiphy">
			  	<img ng-src="{{giphy}}" alt="giphy of {{firstName}}"/>
			  </div>
				<div class="row text-center" ng-show="showGiphy">
					<button class="btn giphy-btn" type="submit" ng-click="toggleGiphy()">Had Enough Giphy? Click Here to Hide It</button>
				</div>
				<div class="row text-center" ng-show="noGiphy">
					<button class="btn giphy-btn" type="submit" ng-click="toggleGiphy()">I Changed My Mind, Show Me The Giphy</button>
				</div>
				<div class="row text-center">
					<h2>{{giphyError}}</h2>
				<div>
			</div>

			<div class="col-md-1">
			</div>

		</div>

	</div><!-- Closing div for first section -->

	<div class="clearfix"></div>

	<div class="col-md-12 new-section">
		<!-- Wiki search -->
		<h2>{{wikiError}}</h2>
		<div class="row" ng-show="showWiki">
			<div class="col-md-6">
				<div class="text-center"><h3 class="header">Some Other Notable People Born on {{month}}/{{day}}</h2></div>
				<table class="table">
			  	<thead>
			  		<tr>
			  			<th>Year</th>
			  			<th>Information</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr ng-repeat="birth in births" class="births-animate">
			  			<td>{{birth.year}}</td>
							<td>{{birth.info}}s</td>
			  		</tr>
			  	</tbody>
			  </table>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="text-center"><h3 class="header">Some Notable Events on {{month}}/{{day}}</h3></div>
					<table class="table">
				  	<thead>
				  		<tr>
				  			<th>Year</th>
				  			<th>Information</th>
				  		</tr>
				  	</thead>
				  	<tbody>
				  		<tr ng-repeat="event in events" class="events-animate">
				  			<td>{{event.year}}</td>
								<td>{{event.info}}s</td>
				  		</tr>
				  	</tbody>
				  </table>
				</div>
				<div class="row la-frame">
					<h2>{{laTimesError}}</h2>
					<div ng-show="showLATimes">
						<div class="text-center">
							<h3>Website for the LA Times From {{month}}/{{day}}/05<h3>
							<h4>(Or nearest available date)</h4>
							<h5><a href="https://archive.org/about/faqs.php#18" target="_blank">(Not all website elements may be available)</a></h5>
						</div>
						<iframe width="100%" height="650px" ng-src="{{laTimes}}"></iframe>
					</div>
				</div>
				<div class="row la-frame">
					<h2>{{rollingError}}</h2>
					<div ng-show="showRolling">
						<div class="text-center">
							<h3>Website for Rolling Stone From {{month}}/{{day}}/05<h3>
							<h4>(Or nearest available date)</h4>
							<h5><a href="https://archive.org/about/faqs.php#18" target="_blank">(Not all website elements may be available)</a></h5>
						</div>
						<iframe width="100%" height="650px" ng-src="{{rollingStone}}"></iframe>
					</div>
				</div>
				<div class="row la-frame">
					<h2>{{imdbError}}</h2>
					<div ng-show="showImdb">
						<div class="text-center">
							<h3>Website for IMDb From {{month}}/{{day}}/05<h3>
							<h4>(Or nearest available date)</h4>
							<h5><a href="https://archive.org/about/faqs.php#18" target="_blank">(Not all website elements may be available)</a></h5>
						</div>
						<iframe width="100%" height="650px" ng-src="{{imdb}}"></iframe>
					</div>
				</div>
			</div>
		</div><!-- Closing div for showWiki -->
	</div><!-- Closing div for entire Wiki section -->


	<div class="clearfix"></div>

	<div class="col-md-12 new-section">
		<!-- Movies search -->
		<h2>{{moviesError}}</h2>
		<div class="text-center" ng-show="showMovies"><h3 class="header">Some Movies and TV Shows With {{firstName}} In The Title</h2></div>
		<div class="row" ng-show="showMovies">
			<div ng-repeat="movie in movies track by $index">
	    	<div class="col-md-6">
	      	<div class="panel panel-default">
	        	<div class="panel-heading">
	          	<h3 class="panel-title">{{movie.title}}</h3>
	        	</div>
	      		<div class="panel-body">{{movie.year}}<span class="pull-right"><button class="btn btn-default btn-sm" name="find-movie" type="submit" ng-click="getMovieDetails(movie)">Click for Details</button></span>
	      		</div>
	    		</div>
	  		</div>
	  	</div>
	  </div>
	</div><!-- Closing div for all movies section -->

	<div class="clearfix"></div>

	<div class="col-md-12 new-section">
		<!-- Display individual movie -->
		<h2>{{movieError}}</h2>
	  <div class="row" ng-show="showMovie">
	    <div class="col-md-6">
	    	<div class="panel panel-default">
   				<div class="panel-heading">{{details.Title}}</div>
      		<div class="panel-body">
         		<p><strong>Plot: </strong>{{details.Plot}}</p>
   				</div>
   				<ul class="list-group">
   				  <li class="list-group-item"><strong>Director: </strong>{{details.Director}}</li>
      			<li class="list-group-item"><strong>Starring: </strong>{{details.Actors}}</li>
      			<li class="list-group-item"><strong>Awards: </strong>{{details.Awards}}</li>
      			<li class="list-group-item"><strong>Country: </strong>{{details.Country}}</li>
      			<li class="list-group-item"><strong>Genre: </strong>{{details.Genre}}</li>
      			<li class="list-group-item"><strong>Language: </strong>{{details.Language}}</li>
      			<li class="list-group-item"><strong>Rated: </strong>{{details.Rated}}</li>
      			<li class="list-group-item"><strong>Runtime: </strong>{{details.Runtime}}</li>
      			<li class="list-group-item"><strong>Writer: </strong>{{details.Writer}}</li>
      			<li class="list-group-item"><strong>Year: </strong>{{details.Year}}</li>
      			<li class="list-group-item"><strong>imdb Rating: </strong>{{details.imdbRating}}</li>
      			<li class="list-group-item"><strong>imdb Votes: </strong>{{details.imdbVotes}}</li>
   				</ul>
				</div>
			</div><!-- closing div for details section -->
			<div class="col-md-6">
				<div class="panel panel-default">
			   	<div class="panel-heading">Rotten Tomatoes details for {{details.Title}}</div>
			   	<ul class="list-group">
			   		<li class="list-group-item"><strong>Tomato Consensus: </strong>{{details.tomatoConsensus}}</li>
			      <li class="list-group-item"><strong>Tomato Fresh: </strong>{{details.tomatoFresh}}</li>
			      <li class="list-group-item"><strong>Tomato Rotten: </strong>{{details.tomatoRotten}}</li>
			      <li class="list-group-item"><strong>Tomato Meter: </strong>{{details.tomatoMeter}}</li>
			      <li class="list-group-item"><strong>Tomato Rating: </strong>{{details.tomatoRating}}</li>
			      <li class="list-group-item"><strong>Tomato Reviews: </strong>{{details.tomatoReviews}}</li>
			      <li class="list-group-item"><strong>Tomato User Meter: </strong>{{details.tomatoUserMeter}}</li>
			      <li class="list-group-item"><strong>Tomato User Rating: </strong>{{details.tomatoUserRating}}</li>
			      <li class="list-group-item"><strong>Tomato User Reviews: </strong>{{details.tomatoUserReviews}}</li>
			   	</ul>
				</div>
			</div><!-- closing div for Rotten Tomatoes section -->
	  </div><!-- closing div for all details -->

	</div><!-- Closing div for individual movie section -->

	<div class="clearfix"></div>

</div><!-- closing div for controller -->
