<div ng-controller="YouishController">

	<div class="col-md-12">

		<div class="row">
			<!-- Entry form for initial search info -->
			<div class="col-md-6 data-form">

				<div class="row">
					<h2 class="intro">Enter Some Data About Yourself</h2>
					<h2 class="intro">And See Some Fun Results!</h2>
				</div>

				<div class="row">
					<form class="form-horizontal">

					  <div class="form-group">
					  	<label class="col-md-6 control-label data-input" for="name">First Name: </label>
					    <div class="col-md-4 text-col">
					    	<input class="form-control input-md data-input" type="text" ng-model="firstName" name="name" placeholder="First Name">
					    		</div>
					  	</div>

							<div class="form-group">
					    	<label class="col-md-6 control-label data-input" for="month">Birth Month in Two-Digit Format: </label>
					    	<div class="col-md-4 text-col">
					    		<input class="form-control input-md data-input" type="text" ng-model="month" name="month" placeholder="MM">
					    	</div>
					  	</div>

							<div class="form-group">
					    	<label class="col-md-6 control-label data-input" for="day">Birth Day in Two-Digit Format: </label>
					    	<div class="col-md-4 text-col">
					    		<input class="form-control input-md data-input" type="text" ng-model="day" name="day" placeholder="DD">
					    	</div>
					  	</div>

							<div class="form-group">
						 		<label class="col-md-6 control-label data-input" for="first-search">Click Button for Results: </label>
				  	 		<div class="col-md-4 text-col">
					     		<button class="btn button-custom" name="first-search" type="submit" ng-click="searchAll()">Click Me</button>
					  		</div>
					  	</div>

						</form>
					</div>

			</div><!-- Closing div for initial search info -->

			<div class="col-md-1">
			</div>

			<div class="col-md-4">
				<div class="row">
			  	<h3 class="reverse">Your Name, Reversed: <span>{{firstName | reverse}}</span></h3>
			  </div>
			  <div class="row text-center" ng-show="showGiphy">
			  	<img ng-src="{{giphy}}" alt="giphy of {{firstName}}"/>
			  </div>
				<div class="row text-center" ng-show="showGiphy">
					<button class="btn giphy-button" type="submit" ng-click="showGiphy=false">Had Enough Giphy? Click Here to Hide It</button>
				</div>
				<div class="row text-center">
					<h2 class="giphy-error">{{giphyError}}</h2>
				<div>
			</div>

			<div class="col-md-1">
			</div>

		</div>

	</div><!-- Closing div for first section -->

	<div class="clearfix"></div>

	<div class="col-md-12 new-section">

		<!-- Movies search -->
		<div class="row" ng-show="showMovies">
			<h2 class="movies-error">{{moviesError}}</h2>
			<div ng-repeat="movie in movies track by $index">
	    	<div class="col-md-6">
	      	<div class="panel panel-default">
	        	<div class="panel-heading">
	          	<h3 class="panel-title">{{movie.title}}</h3>
	        	</div>
	      		<div class="panel-body">{{movie.year}}<span class="pull-right"><button class="btn btn-default btn-sm" name="find-movie" type="submit" ng-click="getMovieDetails(movie)">Click for Details</button></span>
	      		</div>
	    		</div>
	  		</div>
	  	</div>
	  </div>

	</div><!-- Closing div for all movies section -->

	<div class="clearfix"></div>

	<div class="col-md-12 new-section">

		<!-- Display individual movie -->
	  <div class="row" ng-show="showMovie">
	  <h2 class="movie-error">{{movieError}}</h2>
	    <div class="col-md-6">
	    	<div class="panel panel-default">
   				<div class="panel-heading">{{details.Title}}</div>
      		<div class="panel-body">
         		<p>{{details.Plot}}</p>
   				</div>
   				<ul class="list-group">
   				  <li class="list-group-item"><strong>Director: </strong>{{details.Director}}</li>
      			<li class="list-group-item">Starring: {{details.Actors}}</li>
      			<li class="list-group-item">Awards: {{details.Awards}}</li>
      			<li class="list-group-item">Country: {{details.Country}}</li>
      			<li class="list-group-item">Genre: {{details.Genre}}</li>
      			<li class="list-group-item">Language: {{details.Language}}</li>
      			<li class="list-group-item">Rated: {{details.Rated}}</li>
      			<li class="list-group-item">Runtime: {{details.Runtime}}</li>
      			<li class="list-group-item">Writer: {{details.Writer}}</li>
      			<li class="list-group-item">Year: {{details.Year}}</li>
      			<li class="list-group-item">imdb Rating: {{details.imdbRating}}</li>
      			<li class="list-group-item">imdb Votes: {{details.imdbVotes}}</li>
   				</ul>
				</div>
			</div><!-- closing div for details section -->
			<div class="col-md-6">
				<div class="panel panel-default">
			   	<div class="panel-heading">Rotten Tomatoes details for {{details.Title}}</div>
			   	<ul class="list-group">
			   		<li class="list-group-item">Tomato Consensus: {{details.tomatoConsensus}}</li>
			      <li class="list-group-item">Tomato Fresh: {{details.tomatoFresh}}</li>
			      <li class="list-group-item">Tomato Image: {{details.tomatoImage}}</li>
			      <li class="list-group-item">Tomato Meter: {{details.tomatoMeter}}</li>
			      <li class="list-group-item">Tomato Rating: {{details.tomatoRating}}</li>
			      <li class="list-group-item">Tomato Reviews: {{details.tomatoReviews}}</li>
			      <li class="list-group-item">Tomato Rotten: {{details.tomatoRotten}}</li>
			      <li class="list-group-item">Tomato User Meter: {{details.tomatoUserMeter}}</li>
			      <li class="list-group-item">Tomato User Rating: {{details.tomatoUserRating}}</li>
			      <li class="list-group-item">Tomato User Reviews: {{details.tomatoUserReviews}}</li>
			   	</ul>
				</div>
			</div><!-- closing div for Rotten Tomatoes section -->
	  </div><!-- closing div for all details -->

	</div><!-- Closing div for individual movie section -->

	<div class="clearfix"></div>

</div><!-- closing div for controller -->
